#login,
#register {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.layer {
  padding-top: 40px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.card {
 
  min-height: 200px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #ddd;
}
.card img{
  max-height :150px;
}
.text-white {
  color: #fff;
}

input[type="submit"] {
  width: 100%;
}

a{
  color:black;
}
a:hover{
  text-decoration:none;
}